body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
}

.company {
    margin-left: 20px;
    color: #0096FF;
}

.logoutbtn {
    float: right;
    margin-left: 900px;
    margin-top: 20px;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #0096FF;
    color: white;
}

.logoutbtn:hover {
    background-color: blue;
    cursor: pointer;
}

.navbar {
    width: 100%;
    background-image: linear-gradient(90deg, #088F8F, #0000FF);
    height: 45px;
}

.navbar a {
    line-height: 45px;
    color: white;
    text-decoration: none;
    margin: 20px;
}

.navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
}


.content h1 {
    width: 100%;
    text-align: center;
}

.formulir {
    border: 1px solid;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    padding: 30px;
}

.formulir input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 10px;
}

.formulir select {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 10px;
}

.order {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #0096FF;
    color: white;
}

.order:hover {
    background-color: blue;
    cursor: pointer;
}

.daftar {
    color: #0096FF;
    text-decoration: none;
}

.daftar:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    margin-top: 20px;
    margin-left: 50px;
}

.container a {
    text-decoration: none;
    color: #0000FF;
}

.container a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0096FF;
}

.detail-tiket {
    border: solid 1px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}

.container-wisata {
    margin: 20px;
}

.table {
    width: 100%;
}

.konfirmasi {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}

.konfirmasi:hover {
    background-color: #0096FF;
    cursor: pointer;
}

.hapus {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
}

.hapus:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}