.form {
    width: 700px;
    margin: auto;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.tambah-wisata input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 10px;
}

.tambah {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #0096FF;
    color: white;
}

.tambah:hover {
    background-color: blue;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form {
        width: 350px;
    }
}